# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: (c) Copyright 2020-2024 Advanced Micro Devices, Inc.

# Default to requesting reviews from the Onload team all changes.
* @Xilinx-CNS/cns-onload
/.github/ @Xilinx-CNS/cns-onload
