# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: (c) Copyright 2020-2024 Advanced Micro Devices, Inc.

*.ncb
*.suo
*.bak
*~
*/\#*\#
*.swp
*.orig
*.rej
*.aps
*.d
*.ko
*.o
*.pyc
*.old
*.user
*.mod.c
.*.cmd
.tmp_*
BuildLog.htm
cscope.*
Module.*
Modules.symvers
modules.*
tags
TAGS
semantic.cache
*.gpState
*.log
*.so
Thumbs.db
.reviewboardrc

.#*
/.vscode
/build
/obj
/buildlock
/configuration
/install
/logs
/logs.build_tree
/release
/src/.project
/src/.cdtproject
/rpm
/tests
/src/lib/zf/doxygen/html
/src/lib/zf/doxygen/latex
/src/lib/zf/doxygen/rtf
