# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: (c) 2024 Advanced Micro Devices, Inc.

name: "perform_build"
on:
  workflow_dispatch:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  perform_build_and_test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      TCPDIRECT_TREE: ${{ github.workspace }}/tcpdirect
      ONLOAD_TREE: ${{ github.workspace }}/onload
    steps:
      - name: Checkout TCPDirect
        uses: actions/checkout@v5
        with:
          path: ${{ env.TCPDIRECT_TREE }}

      - name: Extract version information
        working-directory: ${{ env.TCPDIRECT_TREE }}
        run: cat versions.env | sed -E "s/^#.*$//g" >> "$GITHUB_ENV"

      - name: Checkout Onload
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository_owner }}/onload
          path: ${{ env.ONLOAD_TREE }}
          ref: ${{ env.ONLOAD_PUBLIC_TREEISH }}

      - name: Checkout packetdrill
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository_owner }}/packetdrill-tcpdirect
          path: packetdrill-tcpdirect
          ref: ${{ env.PACKETDRILL_VERSION }}

      - name: Install the TCPDirect build and test dependencies
        uses: ./tcpdirect/.github/actions/install-dependencies

      - name: Build the base TCPDirect library
        uses: ./tcpdirect/.github/actions/build
        with:
          tcpdirect_tree: ${{ env.TCPDIRECT_TREE }}
          onload_tree: ${{ env.ONLOAD_TREE }}
          build_target: all
          debug: true

      - name: Build the TCPDirect socket shim
        uses: ./tcpdirect/.github/actions/build
        with:
          tcpdirect_tree: ${{ env.TCPDIRECT_TREE }}
          onload_tree: ${{ env.ONLOAD_TREE }}
          build_target: shim
          debug: true

      - name: Run the TCPDirect unit tests
        uses: ./tcpdirect/.github/actions/test
        with:
          tcpdirect_tree: ${{ env.TCPDIRECT_TREE }}
          onload_tree: ${{ env.ONLOAD_TREE }}
